.post-page {
    padding: 10px 50px;
}

.post {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    width: 100%;
}

.post-content {
    display: flex;
}

.post-text {
    margin-left: 20px;
}
