.post-list-item {
    width: 100%;
    height: 100px;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.post-list-item__votes {
    width: 100px;
    font-size: 30px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-direction: column;

}
