.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 300ms;
    padding: 10px;
    border-radius: 4px;
}

.user-info:hover,:focus {
    background: rgba(255,255,255,0.2);
}


.user-info__name {
    margin-left: 10px;
}

.user-info-popup {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
