.post-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    width: 100%;
}

.post-footer__user-area {
    display: flex;
    background: var(--primary-10);
    padding: 8px;
    width: 180px;
    border-radius: 3px;

}

.post-footer__user-name {
    font-size: 15px;
}
