.post-voter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote-button {
    font-size: 25px;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    line-height: normal;
}
