button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
%btn {
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 3px;
  padding: 0 10px;
  border: 1px solid var(--primary-20);
  margin: 0 10px;
}


.btn {
  &-primary {
    @extend %btn;
    background: var(--primary-30);
  }
}