.avatar {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 20px;
    border-radius: 80px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
}
