$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "./scss/index";

:root {
  --primary-0: #f9fcff;
  --primary-5: #ddeefe;
  --primary-10: #c2dffd;
  --primary-20: #8dc2fa;
  --primary-30: #5ea5f5;
  --primary-40: #388aed;
  --primary-50: #1b70e4;
  --primary-60: #0657d7;
  --primary-70: #0045c7;
  --primary-80: #0035b3;
  --primary-90: #00279e;
  --primary-100: #001b87;

  --accent-0: #ffdaca;
  --accent-5: #fdcdb8;
  --accent-10: #fbc0a6;
  --accent-20: #f5a682;
  --accent-30: #ec8f61;
  --accent-40: #df7b47;
  --accent-50: #cd6b31;
  --accent-60: #b65d21;
  --accent-70: #994f15;
  --accent-80: #76400d;
  --accent-90: #4f2d07;
  --accent-100: #26170;

  --neutral-0: #ffffff;
  --neutral-5: #f0f0f0;
  --neutral-10: #e1e1e1;
  --neutral-20: #bfbfbf;
  --neutral-30: #9b9b9b;
  --neutral-40: #7a7a7a;
  --neutral-50: #5c5c5c;
  --neutral-60: #444444;
  --neutral-70: #313131;
  --neutral-80: #242424;
  --neutral-90: #1c1c1c;
  --neutral-100: #1a1a1a;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}


#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

