nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 5px 10px;
    background-color: var(--primary-60);
}

.header__navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__toggler {
    display: none;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .header__toggler {
        display: block;
        margin-right: 20px;
    }
}

