.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

.navigation__item {
    color: var(--primary-10);
    font-weight: bold;
    font-size: 25px;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }
}


